.features {
  padding: 120px 0;
}

.features-container {
  display: flex;
}

.features-name {
}

.features-title {
  display: flex;
  gap: 24px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
   width: calc((100% - 72px) / 4);
}

.feature-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
}

.feature-list-text {
  color: #434455;
}
